@page "/"
@inject MappingController mc

@using BlazorASV.Data

<div class="input-group">
    <input type="text" class="form-control col-9" placeholder="Enter Root like c://asv" @bind-value="mainPath" />
    <input type="number" class="col-1" min="1" max="4" @bind-value="quartal" /> 
    @if(enableButton)
    {
        <button type="button" class="btn-danger input-group-text" @onclick="Magic">Execute</button>
    }
</div>

@message

@code{

    string downloadPath = @"C:\Users\Benex\Desktop\Download";
    string mainPath = @"C:\Users\Benex\Desktop\BenR\\Demo\\Gradient-Abrechnung 1\\06_EBM2000+\\# Strecke ASV\\ASV Leistungsstammdaten";
    string defaultValue = @"C:\Users\Benex\Desktop\Demo\\Gradient-Abrechnung 1\\06_EBM2000+\\# Strecke ASV\\ASV Leistungsstammdaten";

    string message = "";

    bool enableButton = true;

    int quartal = 4;

    private async Task Magic()
    {
        if(string.IsNullOrWhiteSpace(mainPath))
        {
            message = "Need a Path for Structure";
            return;
        }
        message = "Please wait until Downloading and Mapping there Files is finished";
        enableButton = false;
        mc.MakeTheMagicHappen(mainPath, quartal, downloadPath);
        message = "Mapping finished";
        enableButton = true;
    }
}