@page "/"
@inject MappingController mc

@using BlazorASV.Data

<div class="input-group">
    <input type="text" class="form-control col-9" placeholder="Enter Root like c://asv" @bind-value="mainPath" />
    <input type="number" class="col-1" min="1" max="4" @bind-value="quartal" /> 
    <button type="button" class="btn-danger input-group-text" @onclick="Magic">Execute</button>
</div>

@message

@code{

    string downloadPath = "F:\\BenR\\Download";
    string mainPath = "F:\\BenR\\Demo\\Gradient-Abrechnung 1\\06_EBM2000+\\# Strecke ASV\\ASV Leistungsstammdaten";
    string defaultValue = "F:\\BenR\\Demo\\Gradient-Abrechnung 1\\06_EBM2000+\\# Strecke ASV\\ASV Leistungsstammdaten";

    string message = "";

    int quartal = 4;

    private async Task Magic()
    {
        if(string.IsNullOrWhiteSpace(mainPath))
        {
            message = "Need a Path for Structure";
            return;
        }
        mc.MakeTheMagicHappen(mainPath, quartal, downloadPath);
        message = "Mapping finished";
    }
}